*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100svh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
}

input,
select,
button {
  font-family: inherit;
  font-size: inherit;
  padding: 6px 12px;
}

button {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

img {
  width: 100%;
  height: auto;
  vertical-align: top;
}

:root {
  --gray-500: #999999;
  --gray-300: #E2E2E2;
  --orange-400: #ff8800;
  --orange-500: #FF6600;
}

.title-h2 h2 {
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 10px;
}
.title-h3 h3 {
  font-size: 24px;
  line-height: 29px;
}

.primary-btn {
  padding: 8px 12px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  background-color: var(--orange-500);
  border-radius: 8px;
  transition: background-color .2s;
}

.primary-btn:hover {
  background-color: var(--orange-400);
}

.hidden {
  display: none !important;
}


.todo {
  margin-block: 50px;
  width: 800px;
  margin-inline: auto;
  padding: 24px;
  background-color: var(--gray-300);
  border: 2px solid lightblue;
}

.todo .search-form {
  margin-bottom: 16px;
}

.todo .search-form .search-input {
  position: relative;
  margin-bottom: 4px;
}

.todo .search-form .search-input button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 4px;
}

.todo .search-form .search-input button:hover img {
  filter: brightness(0);
}

.todo .search-form .search-input input {
  width: 100%;
  border-radius: 4px;
  border: 1px solid var(--gray-500);
  outline: none;
}

.search-form .categories {
  display: flex;
  column-gap: 10px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
}

.search-form .category span {
  font-size: 10px;
  font-weight: 700;
  cursor: pointer;
}

.search-form .category span:hover {
  color: var(--orange-400);
}

.search-form .category input {
  display: none;
}

.search-form .category input:checked + span {
  color: var(--orange-500);
}

.todo-list {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  margin-bottom: 20px;
}

.todo-item {
  padding: 16px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.25);
}

.todo-item.completed {
  opacity: 0.5;
}

.todo-item.completed .todo-item-name,
.todo-item.completed .todo-item-content {
  text-decoration: line-through;
}

.todo-item-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.todo-category {
  padding: 2px 3px;
  color: var(--orange-500);
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  border: 1px solid var(--orange-500);
  border-radius: 2px;
  margin-bottom: 8px;
}

.todo-head-buttons button {
  transition: .2s;
}

.todo-head-buttons button:hover {
  filter: brightness(0);
  transform: scale(1.1);
}

.todo-item-name {
  margin-bottom: 8px;
}

.todo-item-content {
  font-size: 16px;
  line-height: 19px;
}

.todo-item-content:last-of-type {
  margin-bottom: 16px;
}

.todo-item .btn-complete {
  display: flex;
  align-items: center;
  column-gap: 4px;
}

.todo-item .btn-complete img {
  width: 20px;
  height: 20px;
}

.btn-container {
  display: flex;
  justify-content: flex-end;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-bottom: 20px;
}
